{% extends 'main.html' %}


{% block content %}

<h2> Projekty </h2>
<table bgcolor="#FDE456", border="black", frame="0", style="border-collapse: collapse">
	<thead>
		<tr>
			<th>Nr</th>
			<th>Nazwa</th>
			<th>Klient</th>
			<th>Wartość</th>
			<th>Szef projektu</th>
			<th>Data dodania</th>
		</tr>
	</thead>

	<tbody>
		
		<tr>

{%  for projekty in projekty %}

			<td>{{projekty.id}}</td>
			<td>{{projekty.nazwa}}</td>
			<td>{{projekty.klient.nazwa}}</td>
			<td>{{projekty.wartosc}}</td>
			<td>{{projekty.szef_projektu.nazwisko}} {{projekty.szef_projektu.imie}}</td>
			<td>{{projekty.data_dodania}}</td>



		</tr>
	
{% endfor %}
</tbody>

{% endblock content %}